.social-icons {
  text-align  : justify;
  line-height : 1em;
}

.social-icons:after {
  content : ' ';
  display : inline-block;
  width   : 100%;
  height  : 0;
}

.browsehappy {
  margin     : 0.2em 0;
  background : #cccccc;
  color      : #000000;
  padding    : 0.2em 0;
}

/* Custom page header */
.header {
  border-bottom : 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top     : 0;
  margin-bottom  : 0;
  line-height    : 40px;
  padding-bottom : 19px;
}

.container-narrow > hr {
  margin : 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align    : center;
  border-bottom : 1px solid #e5e5e5;
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height : 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height : 100%;
  height     : auto;
  /* Negative indent footer by its height */
  margin     : 0 auto -60px;
  /* Pad bottom by footer height */
  padding    : 0 0 10px;
}

/* Set the fixed height of the footer here */
#footer {
  position         : fixed;
  left             : 0px;
  bottom           : 0px;
  width            : 100%;
  height           : 30px;
  background-color : #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding : 60px 15px 0;
}

.container .text-muted {
  margin : 6px 0;
}

#footer > .container {
  padding-left  : 15px;
  padding-right : 15px;
  height        : 30px;
}

code {
  font-size : 80%;
}

.header > h1 > em {
  vertical-align : bottom;
}

.article {
  margin-bottom : 30px;
}

.article h4 {
  background-color : #f7f7f9;
  border           : #eee 0.1em solid;
  border-radius    : 0.2em;
  padding          : 3px;
}

.sidebar-section header {
  font-size     : larger;
  border-bottom : #ccc 0.1em dotted;
  margin-bottom: 10px;
}

pre.prettyprint {
  white-space: nowrap;
  overflow-x: scroll;
}

li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
  list-style : inherit;
}

@media screen and (max-width : 767px) {
  .article {
    margin-bottom : 10px;
    border-bottom : #ccc 0.1em solid;
  }

  .sidebar {
    margin-bottom : 30px;
  }

  .sidebar-section header {
    background-color : #f7f7f9;
    border           : #eee 0.1em solid;
    border-radius    : 0.2em;
    padding          : 0 3px;
  }

}

@media screen and (max-width : 600px) {
  .jumbotron {
    padding : 5px 15px;
  }

  .lead {
    margin-bottom : 10px;
    font-size     : 12px;
  }

  .social-icons {
    font-size : 18px;
  }

  #nodejs-logo {
    width : 120px;
  }

  .header > h1 {
    font-size : 1.6em;
  }
}

@media screen and (max-width : 320px) {
  #nodejs-logo {
    width : 80px;
  }

  .header > h1 {
    font-size : 1.4em;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width : 768px) {
  .container {
    max-width : 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left  : 0;
    padding-right : 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom : 30px;
  }

  .article {
    border-right : #ccc 0.1em solid;
  }

  .sidebar-section {
    margin : 10px 5px 30px 0;
  }

}

